html {
  scroll-behavior: smooth; /* keep smooth scroll */
  scroll-padding-top: 100px; /*adjust your header height */
}

nav ::after{
 content: '';
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
a:hover::after{
  width: 100%;
}
